<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}

        <link href="{{ asset('build/css/app.css') }}" rel="stylesheet">
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}
        <script src="https://kit.fontawesome.com/7508d2ae4c.js" crossorigin="anonymous"></script>
        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
    <header>
        {% include "front/include/_header.html.twig" %}

    </header>
    <section>
        <div class="container-fluid pt-3 pb-5 section_title" >

            <h2 class="text-center text-uppercase mt-3 ">Developpeur web sur Bordeaux</h2>
        </div>
    </section>
    <section>
        <div class="container section_career">
            <div class="row" >
                <div class="col-6 ">
                    <h2 class="text-left mt-5" style="">MON PARCOURS</h2>
                    <div class="section_career__description">
                        <div class=" section_career__opacity">

                            <p class="mt-4">Depuis toujours j'ai voulu programmer, d'abord des jeux vidéos quand j'étais enfant (comme beaucoup :)),
                                je me suis finalement passionné par le web, autodidacte depuis de nombreuses années en parallele de mon travail
                                j'ai finalement décidé de me reconvertir et de vivre de ma passion, s'en ai suivi une formation diplomante en tant que <strong>developpeur
                                    d'application PHP et Symfony </strong> en 2020.
                            </p>
                            <p class="my-5">
                                Aujourd'huit freelance, j'ai pu déja réaliser plusieurs projets, ce que j'aime dans ce métié en dehors du coté technique
                                et de pouvoir apporter une solution au problemes des mes clients, en tant que prestataire j'essaye au maximum de comprendre le
                                besoin et d'apporter une solution simple, rapide et éfficace.
                            </p>
                        </div>
                    </div>


                </div>
                <div class="col-6">
                    <div class="section_career__photo"></div>
                </div>
            </div>


        </div>


    </section>
    {% include "front/include/_services.html.twig" %}
    {% include "front/include/_competences.html.twig" %}
    {% include "front/include/_portfolio.html.twig" %}
    {% include "front/include/_contact.html.twig" %}
    </body>
</html>
