<section class="section-contact mt-5">
    <div class="container">
        <div class="row">
            <h2 class="text-uppercase  col-12 " style="border-bottom: 1px solid #fcd08a">Me contacter</h2>

            <div class="col-lg-4 col-12">
                <div class="d-flex align-items-center section-contact__line-contact">

                    <i class="d-block fas fa-map-marker"></i>
                    <div>
                        <span class="d-block">Adresse :</span>
                        <div>427 - Majoleau nord 33920 Saint Savin</div>
                    </div>
                </div>

                <div class="d-flex align-items-center section-contact__line-contact">

                    <i class="fas fa-phone"></i>
                    <div>
                        <span class="d-block">Téléphone :</span>
                        <div>07 77 05 86 26</div>
                    </div>
                </div>

                <div class="d-flex align-items-center section-contact__line-contact">

                    <i class="fas fa-envelope"></i>
                    <div>
                        <span>Email :</span>
                        <div>gregcodeur@gmail.com</div>
                    </div>
                </div>

                <div id="wrapper-9cd199b9cc5410cd3b1ad21cab2e54d3">
                    <div id="map-9cd199b9cc5410cd3b1ad21cab2e54d3"></div><script>(function () {
                            var setting = {"height":230,"width":803,"zoom":16,"queryString":"427 Marjoleau Nord, 33920 Saint-Savin, France","place_id":"Ei00MjcgTWFyam9sZWF1IE5vcmQsIDMzOTIwIFNhaW50LVNhdmluLCBGcmFuY2UiLiosChQKEgnjlBymXiUASBG_UYn5t5C7ORIUChIJFUkqpFAlAEgRgk0vuW-MPCM","satellite":false,"centerCoord":[45.13602898602699,-0.4469814818249973],"cid":"0x39bb90b7f98951bf","lang":"fr","cityUrl":"/france/saint-emilion-18062","cityAnchorText":"Carte de Saint-Émilion, Sud de la France, France","id":"map-9cd199b9cc5410cd3b1ad21cab2e54d3","embed_id":"432524"};
                            var d = document;
                            var s = d.createElement('script');
                            s.src = 'https://1map.com/js/script-for-user.js?embed_id=432524';
                            s.async = true;
                            s.onload = function (e) {
                                window.OneMap.initMap(setting)
                            };
                            var to = d.getElementsByTagName('script')[0];
                            to.parentNode.insertBefore(s, to);
                        })();</script><a href="https://1map.com/fr/map-embed">1 Map</a></div>
            </div>

            <form class="col-lg-8 col-12 mt-5 mt-lg-0" action="" method="post">

                <div class=" d-flex align-items-center">
                    <div class="section-contact__icon-input d-flex justify-content-center align-items-center">
                        <i class="far fa-id-badge"></i>
                    </div>
                    <label for="nom" class="d-inline w-100">
                        <input type="text" id="nom" placeholder="Votre nom et prénom">
                    </label>
                </div>

                <div class=" d-flex align-items-center">
                    <div class="section-contact__icon-input d-flex justify-content-center align-items-center">
                        <i class="far fa-envelope"></i>
                    </div>
                    <label for="nom" class="d-inline w-100">
                        <input type="text" id="email" placeholder="Votre email">
                    </label>
                </div>
                <div class=" d-flex align-items-center">
                    <div class="section-contact__icon-input d-flex justify-content-center align-items-center">
                        <i class="fas fa-mobile-alt"></i>
                    </div>
                    <label for="nom" class="d-inline w-100">
                        <input type="text" id="phone" placeholder="Votre téléphone ( facultatif )">
                    </label>
                </div>
                <div class=" d-flex ">
                    <div class="section-contact__icon-input section-contact__icon-input--textarea d-flex justify-content-center align-items-center">
                        <i class="far fa-edit"></i>
                    </div>
                    <label for="nom" class="d-inline w-100">
                        <textarea name="text" id="content" cols="30" rows="10" placeholder="Votre demande" class="position-relative"></textarea>
                    </label>
                </div>
                <div class="w-100 text-right">
                    <button  type="submit" class=""><i class="far fa-paper-plane"></i> Envoyer</button>
                </div>



            </form>
        </div>
    </div>


</section>
