<section class="container-fluid section-portfolio">
    <div class="row">
        <div class="container">
            <div class="row">
                <h2 class=" text-uppercase my-3 col-12 mt-5" style="border-bottom: 1px solid #fcd08a">Mon portfolio</h2>
                <div class="col-lg-4 col-12">
                    <div class="project-card mt-5">
                        <div class="project-card__body">

                            <div class="project-card__image" style="background: url(/img/caviar.png)">

                            </div>
                            <div class="project-card__title mt-3">
                                Chalet et caviar
                            </div>
                            <div class="project-card__description">
                                - Location etr vente de chalets de luxe.
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-12">
                    <div class="project-card mt-5">
                        <div class="project-card__body">

                            <div class="project-card__image" style="background: url(/img/pleinair.png)">

                            </div>
                            <div class="project-card__title mt-3">
                                Festival plein air
                            </div>
                            <div class="project-card__description">
                                - Festival cinéma en plein air.
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-12">
                    <div class="project-card mt-5">
                        <div class="project-card__body">

                            <div class="project-card__image" style="background: url(/img/p5.png)">

                            </div>
                            <div class="project-card__title mt-3">
                                Blog gregcodeur
                            </div>
                            <div class="project-card__description">
                                - Blog proféssionnel, projet de formation.
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-12">
                    <div class="project-card mt-5">
                        <div class="project-card__body">

                            <div class="project-card__image" style="background: url(/img/snow.png)">

                            </div>
                            <div class="project-card__title mt-3">
                                SnowTricks
                            </div>
                            <div class="project-card__description">
                                - Site communautaire sur le snowboard et ses figures.
                            </div>

                        </div>
                    </div>
                </div>


                <div class="col-lg-4 col-12">
                    <div class="project-card mt-5">
                        <div class="project-card__body">

                            <div class="project-card__image" style="background: url(/img/mils.png)">

                            </div>
                            <div class="project-card__title mt-3">
                                Milscrea
                            </div>
                            <div class="project-card__description">
                                - E-commerce d'objets personnalisés.
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-12">
                    <div class="project-card mt-5">
                        <div class="project-card__body">

                            <div class="project-card__image" style="background: url(/img/pointage.png)">

                            </div>
                            <div class="project-card__title mt-3">
                                Application de pointage
                            </div>
                            <div class="project-card__description">
                                - Pointage et génération de factures pour les intervenants d'une sociétée.
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-12">
                    <div class="project-card mt-5">
                        <div class="project-card__body">

                            <div class="project-card__image" style="background: url(/img/netizia.png)">

                            </div>
                            <div class="project-card__title mt-3">
                                Netizia
                            </div>
                            <div class="project-card__description">
                                - Génération de devis pdf à partir de questionnaires.
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-12">
                    <div class="project-card mt-5">
                        <div class="project-card__body">

                            <div class="project-card__image" style="background: url(/img/vast.png)">

                            </div>
                            <div class="project-card__title mt-3">
                                Feedprod
                            </div>
                            <div class="project-card__description">
                                - Générateur de tags vast pour une régie publicitaire.
                            </div>

                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>


</section>
