<section  class="section-service" >
    <div class="container mt-5 pb-5">

        <div class="row p-lg-0 p-2">


            <h2 id="service" class=" text-uppercase col-12 inViewPort" data-direction="left">Mes services</h2>
            <div class="section-service__description">
                Site vitrine, e-commerce, intégration web, développement sur mesure, etc...
                je saurai m'adapter à tous les projets et vous proposerai les technologies les plus appropriées à votre projet, que ce soit un CMS (wordpress, prestashop ...)
                ou du fait à la main il existe toujours une solution fiable et économique,
                je vous accompagnerai tout au long de votre projet tel un associé !
            </div>
            <div class="inViewPort service-info col-lg-6 col-12" data-direction="right">
                <div class="service-info__body d-flex align-items-end ">

                    <div class="service-info__icone"><i class="fas fa-store"></i> </div>
                    <div class="service-info__title ml-3">E-commerce</div>
                </div>
                <div class="service-info__description">Vendez en ligne, gérez votre boutique : clients, commandes, stocks...</div>
            </div>

            <div class="inViewPort service-info  col-lg-6 col-12" data-direction="left">
                <div class="service-info__body d-flex align-items-end ">


                    <div class="service-info__title ml-3">Market place</div><div class="service-info__icone"><i class="fas fa-globe"></i> </div>
                </div>
                <div class="service-info__description">Mettez en relation vendeur et acheteur.</div>
            </div>

            <div class="inViewPort service-info  col-lg-6 col-12" data-direction="right">
                <div class="service-info__body d-flex align-items-end ">

                    <div class="service-info__icone"><i class="fas fa-desktop"></i> </div>
                    <div class="service-info__title ml-3">Site vitrine</div>
                </div>
                <div class="service-info__description">Présentez-vous, soignez votre image, augmentez votre notoriété.</div>
            </div>

            <div class="inViewPort service-info  col-lg-6 col-12" data-direction="left">
                <div class="service-info__body d-flex align-items-end ">

                    <div class="service-info__icone"><i class="fas fa-laptop-code"></i> </div>
                    <div class="service-info__title ml-3">Intégration web</div>
                </div>
                <div class="service-info__description">Convertir une maquette en site web html/css.</div>
            </div>

            <div class="inViewPort service-info  col-lg-6 col-12" data-direction="right">
                <div class="service-info__body d-flex align-items-end ">

                    <div class="service-info__icone"><i class="fas fa-mobile-alt"></i> </div>
                    <div class="service-info__title ml-3">Design responsive</div>
                </div>
                <div class="service-info__description">Adapter un site web à tous les supports (tablettes, smatphones, pc ...).</div>
            </div>

            <div class="inViewPort service-info  col-lg-6 col-12" data-direction="left">
                <div class="service-info__body d-flex align-items-end ">

                    <div class="service-info__icone"><i class="fas fa-wrench"></i> </div>
                    <div class="service-info__title ml-3">Développement spécifique</div>
                </div>
                <div class="service-info__description">Je serais à votre écoute et proposerais les solutions les plus adaptées.</div>
            </div>
        </div>


    </div>




</section>
